{% extends 'index.html' %}
{% block main %}
    <div id="left_choice">{{ left_choice|safe }}</div>
    <div id="right_choice">{{ right_choice|safe }}</div>
    <div>
        <a class='blue button large' href="/learn/{{ context_1.id }}/over/{{ context_2.id }}"><img src="/static/arrow_left_16x16.png"></a></li>
        <a class='blue button large' href="/learn/{{ context_2.id }}/over/{{ context_1.id }}"><img src="/static/arrow_right_16x16.png"></a></li>
    </div>
    <!-- CONTEXTS {{ context_1.vector }} {{ context_2.vector }} -->
    {{ context_1.vector }}
    <br>
    {{ context_2.vector }} 



    <div id="placeholder" style="width:600px;height:300px;"></div>

<script type="text/javascript">
$(function () {
    $.plot($("#placeholder"), {{ plots|safe }});
});
</script>

{% endblock %}
